
@{
    ViewData["Title"] = "RegistrationConfirmation";
}

<h1>Thanks for registering, @CoffeeShopRegistration.Controllers.HomeController.username!</h1>

Here are your details...<br /><br />

Your first name is: @ViewBag.first <br />
Your last name is: @ViewBag.last <br />
Your email address is: @ViewBag.email <br />
Your password is: @ViewBag.password

